body{
    font-family: tahoma;
    font-size: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    background-color: #1ce734;
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 10px;
    padding-right: 35px;
    display: inline-block;
}
a:visited{
    color: red;
}
a:hover{
    color: blue;
}